
*.el

papers/pde/\.auctex/

papers/pde/auto/

*.aux

*.fls

*.log

*.out

papers/pde/pum-pde\.pdf

*.rel

*.thm

*.bak

*.lof

*.lot

udthesis-base-files/dissertation-main\.pdf

*.toc

\.dropbox

*.fdb_latexmk

*.bbl

*.blg

*.dvi

*.m~
drainage_8_pcl0.mp4.avi
*.mp4
